<% include ../public/head.html %>
	<div class="container-fluid" id="content">
		<div class="contentLeft">
				<% include ../public/menu.html%>
		</div>
		<div class="row" id="content_right">
			<div class="panel panel-default">
				<div class="panel-body">
					<span>健康管理 > 添加测试</span>
				</div>
			</div>
			<form id="form_id" class="form-horizontal" action="javascript:;">
				<div class="form-group">
					<label class="control-label col-sm-2">banner类型 : </label>
					<div class="col-md-8">
						<select id="type" class="form-control col-sm-6">
							<option value="-1">请选择类别</option>
							<option value="0">新闻资讯</option>
							<option value="1">饮食推荐</option>
						</select>
					</div>
				</div>
				<div class="form-group groupNew">
					<label class="control-label col-sm-2">新闻资讯 : </label>
					<div class="col-md-8">
						<select id="newtype" class="form-control col-sm-6">
							<option value="-1">请选择类别</option>
							<option value="0">常识</option>
							<option value="1">养生</option>
							<option value="3">娱乐</option>
							<option value="4">更多</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">健康等级 : </label>
					<div class="col-md-8">
						<select id="grade" name="type" class="form-control">
							<option value="-1">请选择</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">标题 : </label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="title" id="title" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">图片 : </label>
					<div class="col-md-6 uploadBox" >
						<div class="imgFile">
							<input type="file"  name="grade" id="avator" />
						</div>
						<!--<button id="upload" class="btn btn-default">上传</button>-->
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">详情 : </label>
					<div class="col-md-8">
						<script id="editor" type="text/plain" style="width:100%;height:200px;"></script>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary">添加</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		window.onload = function(){
			var imgUrl,imgArray,data={};
			$("#content_right").css({"height":$(window).height()-55,'overflow':'auto'});
			//控制显示
			$("#type").click(function(){
				if($(this).val()==0){
					$(".groupNew").show();
				}else{
					$(".groupNew").hide();
				}
			});
			//加载eduitor
			var ue = UE.getEditor("editor");
			$("button[type=button]").click(function(){
			//获取类型
			var type = $("#type option:selected").text();
			var newtype = $("#newtype").val();
			var grade = $("#grade").val();
			var avator = imgUrl;
			var title = $("#title").val();
			var detail = ue.getContent();
			if($("#type").val()==0){
				data ={
					type:type,
					newtype:newtype,
					grade:grade,
					avator:avator,
					title:title,
					detail:detail
				};
			}else{
				data ={
					type:type,
					grade:grade,
					title:title,
					detail:detail,
					avator:avator,
				};
			}
			$.ajax({
				url:"/banner/addBanner",
				type:"post",
				data:data,
				success:function(result){
					if(result.code<0){
						layer.msg(result.status);
					}else if(result.code>0){
						layer.msg(result.status,{icon:1});
					}
				},
				error:function(data){
					layer.msg("网络错误!!",{icon:2});
				}
			});
				
			});
			//获取上传头像
		$("#avator").change(function(){
			//var type = this.files[0].type;
			imgArray = this.files[0];
			var data = new FormData();
			data.append("upload",imgArray);
			jQuery.ajax({
				url:'/admin/upload',
				type:"post",
				data:data,
				contentType: false, //不可缺参数
                processData: false, //不可缺参数
				success:function(data){
					console.log(data);
					if(data.code==200){
						imgUrl = data.msg;
						var img = $("<img src='"+data.msg+"'>");
						$(".imgFile").html(img);
						layer.msg("上传成功",{icon:1});
					}
				}
			});
		});
			
		};
	</script>
<% include ../public/footer.html %>