<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title%></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">数据管理中心</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav navbar-right">
			            <li class="active"><a href="javascript:;">管理员 : 丽人</a></li>
			            <li class="active"><a href="javascript:;">注销</a></li>
			        </ul>
				</div>
			</div>
		</nav>
	
