	<ul id="accodion">
		<li>
			<a data-toggle="collapse" data-target="#zx">健康咨询</a>
			<ul id="zx" class="panel-collapse collapse in">
				<li><a href="/module_one_managment?block=1">咨询管理</a></li>
				<li><a href="/module_one_add?block=1">咨询添加</a></li>
			</ul>
		</li>	
		<li>
			<a data-toggle="collapse" data-target="#mg">健康管理</a>
			<ul id="mg" class="panel-collapse collapse ">
				<li><a href="#">one</a></li>
				<li><a href="#">two</a></li>
			</ul>
		</li>	
		<li>
			<a data-toggle="collapse" data-target="#food">饮食推荐</a>
			<ul id="food" class="panel-collapse collapse ">
				<li><a href="/foodsAdd?block=3">推荐添加</a></li>
				<li><a href="/foodsManagment?block=3">推荐管理</a></li>
			</ul>
		</li>	
		<li>
			<a data-toggle="collapse" data-target="#targets">推荐管理</a>
			<ul id="targets" class="panel-collapse collapse ">
				<li><a href="/bannerAdd?block=4">banner推荐</a></li>
				<li><a href="/foodsReason?block=4">目标管理</a></li>
			</ul>
		</li>
		<li>
			<a data-toggle="collapse" data-target="#test">健康测试管理</a>
			<ul id="test" class="panel-collapse collapse ">
				<li><a href="/testAdd?block=5">添加测试</a></li>
				<li><a href="/testManagment?block=5">管理测试</a></li>
			</ul>
		</li>
		<li>
			<a data-toggle="collapse" data-target="#my">用户管理</a>
			<ul id="my" class="panel-collapse collapse ">
				<li><a href="/users/add?block=6">用户添加</a></li>
				<li><a href="/users/managment?block=6">用户管理</a></li>
			</ul>
		</li>	
		
	</ul>